@page "/machineoverview"

<h3>Machine Overview</h3>

<div class="container">
    <ul id="toDoItems" class="list-group align-self-sm-stretch mt-4">
        @foreach (var machine in machineList.Machines)
        {
            <li>@machine.Name</li>
            @*<li @onclick="() => ItemCompleted(item)" class="list-group-item d-flex justify-content-between align-items-center mb-2 @(item.Completed ? "change" : "")">@item.Text<button @onclick="() => Remove(item)" @onclick:stopPropagation=true class="btn btn-danger"><i class="fa fa-remove"></i></button></li>*@
        }
    </ul>
</div>

@code{  // faster to type here and move.


    private MachineList machineList = new MachineList();

    protected override async Task OnInitializedAsync()
    {
        machineList = await httpClient.GetFromJsonAsync<MachineList>("api/machines");
    }


}